name: ci-build-push-check

on:
  push:
    branches: ["main"]
  pull_request:

env:
  IMAGE_NAME: aileen2003/github-actions

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 1) VALIDACIÓN (build checks)
      - name: Validate build configuration (checks)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          call: check

      # 2) BUILD + PUSH real (solo si pasó el check)
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest
